<div class="talk-video">
  <iframe scrolling="no" src="<%#= @talk.part1 %>" frameborder="0" class="iframe-class" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    <article class="talk-article">
      <%#=raw @talk.context %>
    </article>
    <div class="about_talker">
        <div class="talker_photo">
          <%= link_to root_path, id: 'photo' do %>
            <%= image_tag("talker_photo.png") %>
          <% end %>
        </div>
        <div class="talker_intro">
          <h4>關於講者｜吳鈺嫻</h4>
          <p>Yu-Xian  Wu 吳鈺嫻，成長於雲林縣，高中後獨自北上就讀，畢業於台北市立第一女子高級中學。目前就讀淡江大學建築系四年級，行天宮資優培育計畫獲獎人，系上首屆榮譽學程學生，並且取得系上預研生資格。甫進大學，恰巧校方開創新的學程－榮譽學程，在這學程裡除了有特別設計的多元課程外，有趣的是多了更多機會接觸各領域佼佼者相互學習，無形中也培養跨領域整合的能力，同時引發她對互動設計和材料的興趣，並且刺激在建築設計上的想像。經過四年的洗禮，除了空間設計能力增進外，建立了獨特的思考模式，習得用圖說或是其他媒材詮釋想法。意外獲得獎學金的鼓勵，讓鈺嫻相信看似無關聯的每個點，最後都會連成一條線帶領她朝下個目標邁進。</p>

        </div>
      
    </div>
  </div>
  <div class="sidebar col-sm-4">
    講者其它講座...
  </div>
</div>



