<div class="talk-video">
  <iframe scrolling="no" src="<%= @talk.part1 %>" frameborder="0" class="iframe-class" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    <article class="talk-article">
      <%=raw @talk.context %>
    </article>
  </div>
  <div class="sidebar col-sm-4">
    講者其它講座...
  </div>
</div>
