@import "bootstrap-sprockets";
@import "bootstrap";

header {
  height: 100px;
  position: relative;
  img {
    height: 100px;
  }

  .nav {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
      color: gray;
    }

    .active a, .active a:hover {
      color: red;
      background-color: lightgray;
      border-radius: 0;
    }
  }
}

.talk-video {
  height: 450px;
  background-color: black;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.talk-article {
  border-right: solid gray thin;
  margin-top: 50px;
  padding: 0 50px;
}

.sidebar {
  margin-top: 50px;
  color: red;
}


#content-info{
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 20px;

  form{
    white-space: nowrap;
  }
}


.about_talker{
  width: 95%;
  height: auto;
  background-color: #F0F0F0;

  .talker_photo{
    width: 120px;
    height: 120px;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    float: left;
  }

  .talker_intro{
    background-color: #F0F0F0;
    width: 76%;
    height: auto;
    margin: 20px;
    display: inline-block;
    
  }
}






/*footer start*/
.container-center{
  width: 86%;
  height: 230px;
  margin: 25px auto 0;

  input{
    border: 0px;
    color: #BCB7B7;
    height: 31px;
    width: 80%;
    padding: 0px 10px;
  -webkit-box-shadow: inset 0 0px 0px;
    -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
    border-radius: 0px;
    margin:0 auto; 
  }
  button {
    height: 31px;
    width: 120px;
    border: 0;
    background-color: #d0d0d0;
    margin-left: -2%;
  }
}

.in-left{
  width: 28%;
  float: left;

  img{
    height: 120px;
  }
  
  p{
    text-align: left;
    color: gray;
    font-size: 16px;
    line-height: 50px;
    white-space: nowrap;
  }
}

.in-right{
  width: 72%;
  float: left;

  p{
    margin: 0;
    text-align: left;
  }

  .footer_row{
    width: 24.5%;
    display: inline-block;

    ul{
      float: right;
    }
    li{
      list-style-type:none;
      line-height: 25px;
    }
    p{
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .footer_row a, .footer_row:active{
    color: #000000;
  }
  .footer_row a:hover{
    color:#c33838;
    text-decoration: none;
  } 

}

#company{
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

/*footer end*/




